<style>
ol.carousel-indicators li,
ol.carousel-indicators li.active {
  background:black;
}
ol.carousel-indicators li.active {
  background: yellow;
}
 .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      margin: auto;
      width:70%;
  }
</style>

	

<script type="text/javascript">
  $(document).ready(function() {
    $('.carousel').carousel({
      interval: 5000
    })
  });
</script>
<div class="row">
<div id="myCarousel" class="carousel slide " data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
   
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
  <div class="item active">
      <img ng-src="images/angular.jpg" >
    </div>
     <div class="item">
      <img ng-src="images/js.jpg">
    </div>
     <div class="item">
      <img ng-src="images/java.jpg">
    </div>
    <div class="item">
      <img ng-src="images/Spring-Framework.jpg" >
    </div>
     <div class="item">
      <img ng-src="images/hibernate.jpg">
    </div>
   
   
 </div>
</div>
</div>
 <div class="panel-group col-xs-offset-2 col-xs-8" id="accordion" style="padding-top:5%;">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title text-center">
        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse1">
        Blogs</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse ">
      <div class="panel-body">
      After registering as a user in our website.You can create your own blogs to share your knowledge.
      And you can view and comment other users blog also.After creation of blog admin will approve the blog, after that You can view your blog.</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title text-center">
        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse2">
        Events</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">
      In our Website we periodically post the events that is going to happen in our organisation like conducting job fair,programming 
      Competitions..etc.And we encourage everyone to participate in the events to enhance their skills.These events are mean to be productive only if everybody give an interest on it.Through some events we welcome Innovative ideas from the fresh minds. </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title text-center">
        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse3">
        Jobs</a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">
All the Students , Alumni can apply for the job posted on our site.we periodically post jobs based on our requirements.So we mention here to all the users to kindly visit the sits periodically to know the latest updates.
After you applied,our team will approve the applications.once they process the application .you can know the status of your application by viewing applied jobs .This is your duty check status of your application periodically.
    </div>
  </div>
</div> 
</div>